body{
    background-color: #EBF0F7;
}
h1{
    color: indianred;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}
h6{
    color: #76BCE8;
}

p{
    color:green;
    font-size: 18px;
}
img{
    width: 500px;
    height: 500px;
}