<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Horizon</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to Project Horizon</h1>
    <h2>This project is blahlah</h2>
    <h6>This is sixth heading</h6>
    <h2>Second heading</h2>
    <p>Hello, my name is Scott</p>
    <a href="https://www.naver.com/">Click Me</a>
    <img src="../static/baseball_img.jpg">
<h2>Use Cases of Generative AI (GAI)</h2>
<p>1. Text generation feature of GAI can be used in medical fields for ~~~~~. </p>
<p>2. </p>
<img src="../static/baseball_img.jpg">

<h2>Future Use of GAI in a Specific Field</h2>
<p>Hello</p>
</body>
</html>